
.card {
  background-color: var(--color-white);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.card-title {
  color: var(--color-very-dark);
}

body {
  background-color: var(--color-white);
  font-family: 'Inter', sans-serif;
}