.product-img {
  height: 150px;
  object-fit: contain;
  background-color: transparent;
  padding: 1rem;
}

.product-link {
  color: var(--color-very-light);
  text-decoration: none;
  transition: color 0.2s ease;
}

.product-link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

.product-card-price {
  color: var(--color);
  font-weight: bold;
}
