:root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --color: #ff5400;
  --color-link-hover: #ffa700;
  --color-very-light: #a8a8a8;
  --color-medium-light: #6d6d6d;
  --color-ultra-dark: #101010;
  --color-very-dark: #1d1d1d;
  --color-dark: #272727;
  --color-medium-dark: #323232;
  --color-white:#f8f9fa;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Breadcrumb custom styles */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  font-size: 0.95rem;
}

.breadcrumb-item a {
  color: var(--color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.breadcrumb-item a:hover {
  color: var(--color-link-hover);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--color-very-light);
}

/* ### Tablas ### */
.table {
  background-color: var(--color-dark) !important;
  color: var(--color-very-light) !important;
  border-collapse: collapse !important;
  width: 100% !important;
  border: 1px solid var(--color-medium-dark) !important;
}

.table th,
.table td {
  border: 1px solid var(--color-medium-dark) !important;
  padding: 0.75rem !important;
  vertical-align: middle !important;
  background-color: var(--color-dark) !important;
  color: var(--color-very-light) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.table tbody tr:hover td {
  background-color: var(--color-ultra-dark) !important;
  color: var(--color-white) !important;
  cursor: pointer !important;
}

/* Opcional: para filas con rayas */
.table-striped tbody tr:nth-of-type(odd) td {
  background-color: var(--color-medium-dark) !important;
  color: var(--color-white) !important;
}
