html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  --color: #ff5400;
  --color-link-hover: #ffa700;
  --color-very-light: #a8a8a8;
  --color-medium-light: #6d6d6d;
  --color-dark: #272727;
  --color-medium-dark: #323232;
  --color-very-dark: #1d1d1d;
  --color-ultra-dark: #101010;
}
