html, body, #root {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  --color: #ff5400;
  --color-error: #e74c3c;
  --color-link-hover: #ffa700;
  --color-very-light: #a8a8a8;
  --color-medium-light: #6d6d6d;
  --color-dark: #272727;
  --color-medium-dark: #323232;
  --color-very-dark: #1d1d1d;
  --color-ultra-dark: #101010;

  --toastify-icon-color-success: var(--color);
  --toastify-icon-color-warning: var(--color-link-hover);
  --toastify-icon-color-error: var(--color-error);
  --toastify-icon-color-info: var(--color-link-hover);
}

* {
  box-sizing: border-box;
}

/* #### Textos #### */
.text-info {
  color:var(--color) !important;
}

.text-muted {
  color:var(--color-medium-dark) !important;
}

.text-secondary {
  color:var(--color-very-light) !important;
}

/* #### Notificaciones (Toast) #### */
.Toastify__toast {
  background-color: var(--color-dark) !important;
  color: var(--color-white) !important;
}

.Toastify__toast-icon {
  color: var(--color-white) !important;
}

.Toastify__progress-bar--bg.Toastify__progress-bar--success {
  background-color: var(--color); /* o el color personalizado que quieras */
}

.Toastify__toast--success .Toastify__progress-bar {
  background: var(--color) !important;
}

.Toastify__toast--warning .Toastify__progress-bar {
  background: var(--color-link-hover) !important;
}

.Toastify__toast--error .Toastify__progress-bar {
  background: #e74c3c !important;
}

.Toastify__toast--info .Toastify__progress-bar {
  background: var(--color-link-hover) !important;
}

/* #### Links #### */
a {
  color: var(--color);
  text-decoration: none;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}

/* #### Menú hamburguesa #### */

.navbar-toggler {
  border-color: var(--color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
