/* **** Estilos de pie de página *** */
.pie {
    background-color: var(--color-very-dark);
    color: var(--color-very-light);
    font-size: 12px;
}

.pie-menu {
    list-style-type: none;
    padding-left: 0;
}

.pie-menu li a {
    text-decoration: none;
    color: var(--color-very-light);
}

.pie-menu li a:hover {
    color: var(--color-link-hover);
}

.logoTalentoGames {
    width: 18rem;
    height: 13rem;
}

.pie-menu-redes li a {
    color: var(--color-very-light);
    text-decoration: none;
}

.pie-menu-redes li a:hover {
    color: var(--color-link-hover);
}
