.logo-navbar {
	width: 4rem;
	object-fit: contain;
  }
  
  .nav-link {
	color: var(--color-very-light) !important;
	transition: color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
	color: var(--color) !important;
	font-weight: bold;
  }
  